.pagepart {
	width: 100%;
	height: 100vh;
}
body {
	margin: 0px;
	font-size: 200%;
}
.startscreen{
	background-image: url('background.jpg');
    background-size: cover;
}
.blue{
	background-color: #89A8B3;
}
.sitelinkimages:before{
	font-size: 175px;
	color: rgba(255, 255, 255, 0.9);
	margin: 25px;
}
a{
	text-decoration: none;
}
.centercontent{
	display: flex;
	justify-content: center;
	align-items: center;
}
.centercontent-dynamicrows{
	flex-wrap: wrap;
}
.centercontent-vertical{
	flex-direction: column;
}
.whitetext{
	color: white;
}
.anchor{
	position: relative;
	top: 29px;
}